<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daftar - CarFi</title>
    <link rel = "icon" href ="../../../public/all-image/carfilogo1.png" type = "image/x-icon">
    <link rel="stylesheet" href="../../../public/signup/signup.css">
  </head>
  <body>
    <div class="center">
      <h1>Daftar</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Nama Pengguna</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Kata Sandi</label>
        </div>
        <input type="submit" value="Daftar">
      </form>
    </div>

  </body>
</html>
