<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../public/faq/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - CarFi</title>
    <link rel = "icon" href ="../../../public/all-image/carfilogo1.png" type = "image/x-icon">
</head>

<body>
    <div class="accordion">
        <div class="image-box">
            <a href="../index.html">Kembali</a>
            <img src="../../../public/all-image/faq.png" alt="Accordion Image">
        </div>
        <div class="accordion-text">
            <div class="title">FAQ</div>
            <ul class="faq-text">
                <li>
                    <div class="question-arrow">
                        <span class="question">Apakah Itu CarFi?</span>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, doloribus.</p>
                    <span class="line"></span>
                </li>
                <li>
                    <div class="question-arrow">
                        <span class="question">Apa keuntungan dengan menggunakan CarFi?</span>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <p>JavaScript is a text-based programming language used both on the client-side and server-side that
                        allows you to make web pages interactive</p>
                    <span class="line"></span>
                </li>
                <li>
                    <div class="question-arrow">
                        <span class="question">Apakah menggunakan layanan CarFi aman dan terjamin?</span>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, necessitatibus.</p>
                    <span class="line"></span>
                </li>
                <li>
                    <div class="question-arrow">
                        <span class="question">Bagaimana cara CarFi membantu saya mendapatkan pekerjaan?</span>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, labore.</p>
                    <span class="line"></span>
                </li>
                <li>
                    <div class="question-arrow">
                        <span class="question">Bagaimana mencari project untuk freelancer pada CarFi?</span>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, repudiandae!</p>
                    <span class="line"></span>
                </li>
                <li>
                    <div class="question-arrow">
                        <span class="question">Dimana saya dapat mendapatkan informasi lengkap tentang perusahaan yang ingin saya tuju?</span>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, repudiandae!</p>
                    <span class="line"></span>
                </li>
                <li>
                    <div class="question-arrow">
                        <span class="question">Saya tidak bisa mengakses sistem CarFi saat ini, apa yang harus saya lakukan?</span>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, repudiandae!</p>
                    <span class="line"></span>
                </li>
            </ul>
        </div>
    </div>


    <script src="../../../public/faq/script.js"></script>

</body>

</html>
