.judul {
    text-decoration: line-through;
}

nav {
    font-size: large;
}

footer {
    font-size: large;
    text-decoration: none;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

section {
    padding: 100px 100px;
}

button {
    padding: 2rem 4rem;
}

.jumbotron {
    padding: 3rem 1rem;
    margin-top: 20px;
}

h2 {
    margin-bottom: 50px;
}

.keunggulan {
    margin-top: 200px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .btn {
        margin-top: 25px;
    }
}