nav {
    font-size: large;
}

a {
    margin-right: 10px;
}

.jumbotron {
    padding: 5rem 1rem;
    margin-top: 20px;
}

h2 {
    margin-bottom: 50px;
    font-size: 100px;
}

.keunggulan {
    margin-top: 200px;
    margin-bottom: 20px;
}

a {
    font-size: 60px;
    text-decoration: none;
    color: black;
}